<%= form_with(model: @micropost, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div id="rate">
    <%= f.label :rate, 'Stars', class: 'col-md-3 col-form-label' %>
    <%= f.hidden_field :rate, id: :rate %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write a review..." %>
  </div>
  <div>
    <%= f.text_field :address, id: "address", value: "", placeholder: "Search Google Maps" %>
    <input type="button" value="Search" onclick="codeAddress()">
    <span id="display">Latitude and longtitude will be displayed here.</span>
    <span id='map'></span>
  </div>
  <div class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/git,image/png" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>

<script>
    let map

    const display = document.getElementById('display')

    // mapの表示関数 
    function initMap() {
        geocoder = new google.maps.Geocoder()

        // mapの初期位置, 縮尺を定義
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 35.6458437,
                lng: 139.7046171
            },
            zoom: 12,
        });
    }

    let geocoder

    // 地図検索関数
    function codeAddress() {
        let inputAddress = document.getElementById('address').value;

        geocoder.geocode({
            'address': inputAddress
        }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });

            display.textContent = "検索結果：" + results[ 0 ].geometry.location
            } else {
                alert('該当する結果がありませんでした：' + status);
            }
        });
    }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&callback=initMap"  
    async defer>
</script>

<!-- 評価javascript -->
<script>
$('#rate').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',

  scoreName: 'micropost[rate]',
  half: false,
});
</script>  