<div class="row">
  <div class="microposts-container">
    <h3><%= @micropost.address %><h3>
    <%= image_tag @micropost.display_image, class: "img-fluid" if @micropost.image.attached? %><br>
    <h4>Review Comment</h4>
    <p class="review-content"><%= @micropost.content %><p>
    <h4>Where I camped</h4>
    <div><%= @micropost.address %></div>
    <div id="show-map" class="w-100 p-3"></div>
    <div>
      <h4>Likes: <%= @micropost.likes.count %></h4>
      <% if @micropost.likes.find_by(user_id: current_user.id) %>
        <%= form_with(model: @like, url: like_path(id: @micropost.id), local: true, method: :delete) do |f| %>
          <%= f.hidden_field :micropost_id, value: @micropost.id %>
          <%= f.submit 'Undo' %>
        <% end %>
      <% else %>
        <%= form_with(model: @like, url: likes_path, local: true) do |f| %>
          <%= f.hidden_field :micropost_id, value: @micropost.id %>
          <%= f.submit 'Like' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  let map

  function initMap(){
    geocoder = new google.maps.Geocoder()
    var test ={lat: <%= @micropost.latitude %>, lng: <%= @micropost.longitude %>};

    map = new google.maps.Map(document.getElementById('show-map'), {
      center: test,
      zoom: 15,
    });

    var contentString = '住所：<%= @micropost.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    marker = new google.maps.Marker({
      position:  test,
      map: map,
      title: contentString
    });
  }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&callback=initMap"  
    async defer>
</script>