<header>
  <div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "Where to Camp", root_path, id: "logo", class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "Help", help_path, class: "nav-link active" %>
            </li>
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to "Users", users_path, class: "nav-link active" %>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link active dropdown-toggle" 
                      id="navbarDarkDropdownMenuLink" role="button" 
                      data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
                  </li>
                </ul>
              </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Log in", login_path, class: "nav-link active" %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>